body {
	background: #edeff0;
}

.leaderboard {
	margin: auto;
	margin-top: 70px;
	width: 60%;
	background:#ba1073;
	border-radius: 25px;
	border: 1px solid #ba1073;
	padding: 20px 0px;
}

.header {
	margin-bottom: 10px;
	padding: 0px 5px;
}

.header h1 {
	font-family: 'Hind', sans-serif;
	margin:0px;
	text-transform: uppercase;
	color:white;
}


.counselor {
	font-family: 'Open Sans', sans-serif;
	background: #edeff0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-left: 3px;
	padding-right: 3px;
}

.counselors > div:nth-of-type(1) {
	background: gold;
	
}

.counselors > div:nth-of-type(2) {
	background: silver;
	
}

.counselors > div:nth-of-type(3) {
	background: #CD7F32;
	
}

.counselor-nickname {
	width: 70%;
	display: inline-block;
}

.counselor-money {
	width: 30%;
	text-align: right;
	display: inline-block;
}